* {
    font-family: 'Roboto', sans-serif;

}

html,
body {
    margin: 0px;
    padding: 0px;
}

.container aside {
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    justify-content: left;
    margin-left: 20px;

}

h3 {
    line-height: 10px;
}

/****************************
Top Nav
****************************/
.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 64px;
    background-color: rgb(204, 232, 229);
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

.top-nav nav {
    display: flex;
    flex-direction: row;
    margin-right: 32px;
}

.top-nav a {
    display: block;
    margin: 0px 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/****************************
Recherche
*****************************/
.recherche {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}


input[type='search'] {
    width: 50%;
    margin-right: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(148, 146, 146);

}

::placeholder {
    color: gray;
    font-size: 16px;
}

button {
    border-radius: 10px;
    border: transparent;
    padding: 10px;
    margin-right: 30px;
}

button:hover {
    background-color: rgb(223, 217, 217);
}

.btn-filtrer {
    max-width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
}

.btnModale {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 55px;
    padding-left: 55px;
    margin-top: 20px;
}

select {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/********************
Section filtre
**********************/

.filtre {
    padding: 20px;
    justify-content: flex-start;
}

.filtre div {
    display: flex;
    flex-direction: column;
}

/**************************
Section catalogue COLUMNS
******************************/
.catalogue {
    padding: 16px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    box-sizing: border-box;
    gap: 15px;
}

.catalogue .carte {
    border: rgb(162, 155, 155) 1px solid;
    border-radius: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    padding: 20px;
}

.catalogue .carte header {
    color: #5e3786;
}

/****************************
SECTION CATALOGUE ROWS
****************************/
.catalogueRow {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

.catalogueRow .carte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    border: rgb(162, 155, 155) 1px solid;
    padding: 25px;
    border-radius: 10px;

    margin-top: 20px;
}

.catalogueRow .carte header {
    max-width: 40%;
    color: #5e3786;
}

.catalogueRow .carte .contenu {
    justify-content: center;
}

.catalogueRow .action {
    align-self: center;
}

/************************
Cartes dialogue
************************/

.dialogue {
    background-color: rgba(94, 55, 134, 0.899);
    border-radius: 10px;
    padding: 50px;
    min-width: 80%;
    border: none;
    text-align: center;
    box-shadow: 0 0 8px #777;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 24px;
}


.dialogue.show {
    display: block;
}

.hidden {
    display: none;
}

/************************
Utilitaire
************************/

.filler {
    flex-grow: 1;
}

.icones span {
    display: block;
    cursor: pointer;
    margin-right: 30px;
}