* {
    font-family: 'Roboto', sans-serif;

}

html,
body {
    margin: 0px;
    padding: 0px;
}

/****************************
Top Nav
****************************/
.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 64px;
    background-color: rgb(171, 230, 224);
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

.top-nav nav {
    display: flex;
    flex-direction: row;
    margin-right: 32px;
}

.top-nav a {
    display: block;
    margin: 0px 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}



/***************************
* Main
****************************/
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

main aside {
    display: flex;
    flex-direction: column;


}

/****************************
Recherche
*****************************/
.recherche {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}


input[type='search'] {
    width: 50%;
    margin-right: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;

}

::placeholder {
    color: gray;
    font-size: 16px;
}

button {
    border-radius: 10px;
    border: transparent;
    padding: 10px;
    margin-right: 30px;
}

button:hover {
    background-color: rgb(223, 217, 217);
}

/********************
Section filtre
**********************/
.controle * {
    margin-bottom: 5px;
}

.filtre {
    padding: 16px 16px;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 150px;

}

.filtre div {
    display: flex;
    flex-direction: column;

}

.filtre ul {
    margin: 0px;
    padding: 0px 0px 0px 16px;
}

.filtre div span {
    text-align: end;
}

.filtre [data-js-actif='1'] {
    border: 2px solid rebeccapurple;
}

.filtre .choixFiltre {
    list-style-type: none;
    padding: 4px;
}



.liste-categorie {
    flex-direction: column;
    line-height: 1.5em;
}

.filtre li:hover {
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.5);
}

/**************************
Section catalogue COLUMNS
******************************/
.catalogue {
    padding: 16px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, .25fr));
    gap: 16px;
    width: calc(95vw - 150px);
    box-sizing: border-box;
}

.catalogue .carte {
    border: rgb(162, 155, 155) 1px solid;
    padding: 15px;
    margin-bottom: 25px;
    margin-right: 20px;
    border-radius: 10px;

}

.catalogue .carte header {
    max-width: 200px;
}

/****************************
SECTION CATALOGUE ROWS
****************************/
.catalogueRow {
    margin-left: 20px;
    box-sizing: border-box;
    flex: 1;
    max-width: 100%;
}

.catalogueRow .carte {

    display: flex;
    flex-direction: row;
    gap: 35px;
    border: rgb(162, 155, 155) 1px solid;
    padding: 25px;
    margin-bottom: 25px;
    margin-right: 20px;
    border-radius: 10px;
}

.catalogueRow .carte header {
    min-width: 35%;
}

.catalogueRow .carte .contenu {
    min-width: 40%;
}

.catalogueRow .action {
    align-self: center;
}

/************************
Cartes dialogue
************************/

.dialogue {
    background-color: rgb(210, 201, 201, 0.875);
    border-radius: 10px;

    min-width: 800px;
    border: none;
    text-align: center;
    box-shadow: 0 0 8px #777;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.dialogue.show {
    display: block;
}

.carte-dialogue {
    padding: 50px;
}

.main {
    background-color: blur;
}

.hidden {
    display: none;
}

/************************
Utilitaire
************************/

.filler {
    flex-grow: 1;
}

.icones span {
    display: block;
    cursor: pointer;
    margin-right: 30px;
}